@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
}

html,
body {
  min-height: 100%;
}

body {
  background: radial-gradient(
    at top left,
    rgb(255, 159, 28) 0%,
    rgb(107, 32, 9) 100%
  );
  background-repeat: no-repeat;
  margin-top: 80px;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav #name:hover {
  border-bottom: 3px solid #2ec4b6;
  padding-bottom: 1px;
  color: #2ec4b6;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav .links a {
  display: inline-block;
  margin-left: 60px;
  margin-top: 15px;
  font-weight: 400;
  padding-bottom: 8px;
  position: relative;
}

footer {
  margin-top: 30px;
  text-align: center;
  min-height: 30vh; /* change the min height to raise the copyright p tag */
  display: flex;
  flex-direction: column;
}

footer > h3::before {
  content: " ";
  border: 4px solid rgb(46, 196, 182);
  display: block;
  margin: 0 auto;
  margin: 30px auto;
  width: 50px;
}

footer .social-links {
  margin-top: 15px;
  flex-grow: 1;
}

footer a {
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  position: relative;
}

.left-hover:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2ec4b6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.left-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer p {
  color: #cbf3f0;
}

@media only screen and (max-width: 767px) {
  body {
    padding-right: 20px;
  }
}
